impact.xsl
impact_impact.xwbt
usage_statistics_webtalk.html
webtalk.log
webtalk_impact.xml
*.swp
hw/ise/_ngo/
hw/ise/_xmsgs/
hw/ise/nes_top.bgn
hw/ise/nes_top.bld
hw/ise/nes_top.cmd_log
hw/ise/nes_top.drc
hw/ise/nes_top.lso
hw/ise/nes_top.pad
hw/ise/nes_top.par
hw/ise/nes_top.pcf
hw/ise/nes_top.prj
hw/ise/nes_top.ptwx
hw/ise/nes_top.stx
hw/ise/nes_top.syr
hw/ise/nes_top.twr
hw/ise/nes_top.twx
hw/ise/nes_top.unroutes
hw/ise/nes_top.ut
hw/ise/nes_top.xpi
hw/ise/nes_top.xst
hw/ise/nes_top_map.map
hw/ise/nes_top_map.mrp
hw/ise/nes_top_map.xrpt
hw/ise/nes_top_ngdbuild.xrpt
hw/ise/nes_top_pad.csv
hw/ise/nes_top_pad.txt
hw/ise/nes_top_par.xrpt
hw/ise/nes_top_summary.xml
hw/ise/nes_top_usage.xml
hw/ise/nes_top_xst.xrpt
hw/ise/webtalk_pn.xml
hw/ise/xlnx_auto_0_xdb/
hw/ise/xst/
