# ==== Clock inputs (CLK) ====
NET "CLK_24MHZ" LOC = M21 | IOSTANDARD = "LVCMOS33";

NET "CLK_24MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 24000 kHz;

# ==== Pushbuttons (BTN) ====
NET "BTN_SOUTH" LOC = AC24 | IOSTANDARD = LVCMOS33;
NET "BTN_EAST"  LOC = AA24 | IOSTANDARD = LVCMOS33;

# ==== Slide Switch (SW0) ====
NET "SW<0>" LOC = W19 | IOSTANDARD = LVCMOS33;
NET "SW<1>" LOC = Y24 | IOSTANDARD = LVCMOS33;
NET "SW<2>" LOC = K19 | IOSTANDARD = LVCMOS33;
NET "SW<3>" LOC = V24 | IOSTANDARD = LVCMOS33;

# ==== RS-232 Serial Ports (RS232) ====
NET "RXD" LOC = A21 | IOSTANDARD=LVCMOS33;
NET "TXD" LOC = A20 | IOSTANDARD=LVCMOS33;

# ==== Joypads ====
#NET "NES_JOYPAD_CLK"   LOC = E12 | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_LATCH" LOC = F12 | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_DATA1" LOC = C12 | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_DATA2" LOC = D12 | IOSTANDARD = LVCMOS33;

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = B22 | IOSTANDARD = LVTTL;
NET "VGA_VSYNC"    LOC = A22 | IOSTANDARD = LVTTL;
NET "VGA_RED<0>"   LOC = A7 | IOSTANDARD = LVTTL;
NET "VGA_RED<1>"   LOC = B8 | IOSTANDARD = LVTTL;
NET "VGA_RED<2>"   LOC = A8 | IOSTANDARD = LVTTL;
NET "VGA_GREEN<0>" LOC = A13 | IOSTANDARD = LVTTL;
NET "VGA_GREEN<1>" LOC = N18 | IOSTANDARD = LVTTL;
NET "VGA_GREEN<2>" LOC = A16 | IOSTANDARD = LVTTL;
NET "VGA_BLUE<0>"  LOC = C19 | IOSTANDARD = LVTTL;
NET "VGA_BLUE<1>"  LOC = C20 | IOSTANDARD = LVTTL;

# ==== Audio ====
#NET "AUDIO" LOC = "K2" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6;

